{% load staticfiles %}
<html>
<head>
<title>Activation Complete</title>
</head>
<body style='background-color: #26587F'>
    <div class='container' style='margin: auto;margin-top: 25px;margin-bottom: 25px;border: 3px solid #FF9A00;width: 600px;padding: 30px;border-radius: 20px;background-color: white'>
        <h1 class='header' style='text-align: center;color: black;font-size: 25px'>Welcome to our HAUS.</h1>
        <p style='text-align: center;color: black;font-size: 20px'>You are about to have access to all of the functionality of Home Automation User Services.</p>
        <p style='text-align: center;color: black;font-size: 20px'>To activate your account, click the following link within 7 days.</p>
        <p style='text-align: center;color: black;font-size: 20px'>
            <a href="http://http://ec2-54-148-194-170.us-west-2.compute.amazonaws.com{% url 'registration_activate' activation_key %}" style='color:black'>
                http://ec2-54-148-194-170.us-west-2.compute.amazonaws.com{% url 'registration_activate' activation_key %}
            </a>
        </p>
        <p>If you didn't request this email, just ignore this email and your address will be removed from our records.</p>
    </div>
</body>
</html>
