{% load staticfiles %}

<html>
<head>
    <title>LOGIN</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='{% static "haus/login.css" %}'>
</head>
<body>
    <div class='container'>
        <div ><img class='haus-img' src='{% static "haus/hausresized.png" %}' /></div>
        <h1 class='header'>Rpi-HAUS</h1>
        <h2 class='subheader'>The homepage for a smarter home</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class='form-button' value="Login" />
        </form>
        <form action='/accounts/register'>
            <input type='submit' class='form-button' value='Register'>
    </div>
</body>
</html>
