<html>
<head>
    <title>LOGIN</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div class='container'>
        <div ><img class='haus-img' src='hausresized.png' /></div>
        <h1 class='header'>Rpi-HAUS</h1>
        <h2 class='subheader'>The homepage for a smarter home</h2>
        <form>
            <div id='email'>
                <input placeholder='Email' class='form-box' type='text' name='email' required/>
            </div>
            <div id='password'>
                <input placeholder='Password' class='form-box' type='password' name='password' required/>
            </div>
            <div id='login'>
                <input type='submit' value='Login' name='login' class='form-button' />
            </div>
        </form>
    </div>
</body>
</html>
