{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href='{% static "haus/dataview.css" %}'>
    <title>
        Haus
    </title>
</head>
<body>
    <div class='top'>
        <div class='top-item-1'>
            <img class='icon' src='{% static "haus/hausresized.png" %}' />
        </div>
        <div class='top-item-2'>
            <h1 class='header'>Welcome to your HAUS</h1>
        </div>
        <div class='top-item-3'>
            <form action='/accounts/logout'>
                <input type='submit' class='form-button' value='Logout'/>
            </form>
        </div>
    </div>
    <div class='container'>
        <div class='sidebar'>
            <h1>{{user}}'s Devices</h1>
            <div id="device_links">
                <div class='sidebar-item'>No devices</div>
            </div>
        </div>
        <div class='main-box'>
            <div class='monitor'>
                <div class='title-box'>Click on a device to the left!</div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://underscorejs.org/underscore-min.js" type="text/javascript"></script>
<script src="http://backbonejs.org/backbone.js" type="text/javascript"></script>
<script src="{% static 'haus/haus_backbone.js' %}" type="text/javascript"></script>
